@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?h0iq02');
  src:  url('fonts/icomoon.eot?h0iq02#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?h0iq02') format('truetype'),
    url('fonts/icomoon.woff?h0iq02') format('woff'),
    url('fonts/icomoon.svg?h0iq02#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shortcuts:before {
  content: "\e920";
}
.icon-message_ab:before {
  content: "\3b";
}
.icon-quick_guide:before {
  content: "\e901";
}
.icon-reset_02:before {
  content: "\21";
}
.icon-alignL_06:before {
  content: "\2a";
}
.icon-link_05:before {
  content: "\2c";
}
.icon-settings_0:before {
  content: "\30";
}
.icon-check_1:before {
  content: "\31";
}
.icon-tools_3:before {
  content: "\33";
}
.icon-email_4:before {
  content: "\34";
}
.icon-plus:before {
  content: "\36";
}
.icon-drilldown_8:before {
  content: "\38";
}
.icon-close_9:before {
  content: "\39";
}
.icon-addNew_T:before {
  content: "\3e";
}
.icon-action_03:before {
  content: "\3f";
}
.icon-plus_A:before {
  content: "\41";
}
.icon-minus_B:before {
  content: "\42";
}
.icon-minus_C:before {
  content: "\43";
}
.icon-foward_D:before {
  content: "\44";
}
.icon-date_E:before {
  content: "\45";
}
.icon-back_H:before {
  content: "\48";
}
.icon-fwd_I:before {
  content: "\49";
}
.icon-backone_J:before {
  content: "\4a";
}
.icon-fwdlast_K:before {
  content: "\4b";
}
.icon-up_L:before {
  content: "\4c";
}
.icon-duplicate_M:before {
  content: "\4d";
}
.icon-load_N:before {
  content: "\4e";
}
.icon-trash_O:before {
  content: "\4f";
}
.icon-less_P:before {
  content: "\50";
}
.icon-actions_Q:before {
  content: "\51";
}
.icon-archive_R:before {
  content: "\52";
}
.icon-chat_S:before {
  content: "\53";
}
.icon-equal_T:before {
  content: "\54";
}
.icon-energy_y:before {
  content: "\59";
}
.icon-igual_04:before {
  content: "\5e";
}
.icon-alignB_08:before {
  content: "\5f";
}
.icon-menu_a:before {
  content: "\61";
}
.icon-search_b:before {
  content: "\62";
}
.icon-draft_c:before {
  content: "\63";
}
.icon-dashboard_d:before {
  content: "\64";
}
.icon-home_e:before {
  content: "\65";
}
.icon-photo_f:before {
  content: "\66";
}
.icon-close_g:before {
  content: "\67";
}
.icon-favorite_h:before {
  content: "\68";
}
.icon-left_i:before {
  content: "\69";
}
.icon-right_j:before {
  content: "\6a";
}
.icon-info_k:before {
  content: "\6b";
}
.icon-elevation_l:before {
  content: "\6c";
}
.icon-euro_m:before {
  content: "\6d";
}
.icon-shop_n:before {
  content: "\6e";
}
.icon-user_o:before {
  content: "\6f";
}
.icon-print_p:before {
  content: "\70";
}
.icon-left_q:before {
  content: "\71";
}
.icon-reload_r:before {
  content: "\72";
}
.icon-right_s:before {
  content: "\73";
}
.icon-column_t:before {
  content: "\74";
}
.icon-down_u:before {
  content: "\75";
}
.icon-panel_v:before {
  content: "\76";
}
.icon-up_w:before {
  content: "\77";
}
.icon-down_x:before {
  content: "\78";
}
.icon-warning_z:before {
  content: "\7a";
}
.icon-alignT_07:before {
  content: "\7d";
}
.icon-alignR_09:before {
  content: "\7e";
}
.icon-more_:before {
  content: "\ab";
}
.icon-edit:before {
  content: "\e902";
}
.icon-delete_1:before {
  content: "\e903";
}
.icon-options_U:before {
  content: "\e904";
}
.icon-landscape:before {
  content: "\e905";
}
.icon-portrait:before {
  content: "\e906";
}
.icon-arrowFat_Bottom:before {
  content: "\e907";
}
.icon-arrowFat_Top:before {
  content: "\e908";
}
.icon-arrowThin_bottom:before {
  content: "\e909";
}
.icon-arrowThin_top:before {
  content: "\e90a";
}
.icon-clip:before {
  content: "\e90b";
}
.icon-calendar_7:before {
  content: "\e90c";
}
.icon-happy:before {
  content: "\e90d";
}
.icon-arrowThin_left:before {
  content: "\e90e";
}
.icon-sendemail:before {
  content: "\e90f";
}
.icon-exit:before {
  content: "\e910";
}
.icon-zoom_out:before {
  content: "\e911";
}
.icon-zoom_in:before {
  content: "\e912";
}
.icon-building2:before {
  content: "\e913";
}
.icon-anular:before {
  content: "\e914";
}
.icon-like:before {
  content: "\e915";
}
.icon-feedback:before {
  content: "\e916";
}
.icon-sad:before {
  content: "\e917";
}
.icon-sad_on:before {
  content: "\e918";
}
.icon-happy_on:before {
  content: "\e91b";
}
.icon-export:before {
  content: "\e91d";
}
.icon-import:before {
  content: "\e919";
}
.icon-help:before {
  content: "\e91a";
}
.icon-mandatory:before {
  content: "\e91e";
}
.icon-fillwarning:before {
  content: "\e91c";
}
.icon-eye_6:before {
  content: "\e91f";
}
.icon-enter:before {
  content: "\e924";
}
.icon-notification_5:before {
  content: "\e930";
}
.icon-orderdown_G:before {
  content: "\e931";
}
.icon-orderup_F:before {
  content: "\e932";
}
.icon-picture_R:before {
  content: "\e935";
}
.icon-nodata:before {
  content: "\e93c";
}
.icon-save_S:before {
  content: "\e93d";
}
.icon-plus_2:before {
  content: "\e945";
}
